{
  "presets": [],
  "plugins": [
    "@babel/plugin-transform-runtime", 
    "transform-class-properties", 
    "lodash",
    ["import", { "libraryName": "antd" }, "ant"],
  ],
  "env": {
    "production": {
      "presets": [],
      "plugins": []
    },
    "development": {
      "presets": ["@babel/env"],
      "plugins": ["transform-class-properties"],
    },
    "test": {
      "presets": ["@babel/env"],
    }
  }
}
