{
  "presets": [],
  "plugins": ["@babel/plugin-transform-runtime", "transform-class-properties"],
  "env": {
    "production": {
      "presets": [],
      "plugins": []
    },
    "development": {
      "presets": ["@babel/env"]
    },
    "test": {
      "plugins": [
      ]
    }
  }
}
