{
  "parser": "@babel/eslint-parser",
  "extends": [
    "appium"
  ],
  "plugins": [
    "import",
    "react",
    "react-native",
    "@babel"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "import/no-unresolved": [2, {"ignore": ["electron"]}],
    "@babel/arrow-parens": 0,
    "require-await": 2,
    "react-native/no-inline-styles": 2
  }
}
