language: node_js
sudo: required
node: 
os:
- linux
- osx
node_js:
- '9'
before_install:
- nvm install 9
- npm install -g npm@5.10
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install --no-install-recommends
  -y icnsutils graphicsmagick xz-utils; fi
addons:
  apt:
    packages:
    - xvfb
before_script:
- greenkeeper-lockfile-update
- node --version
- npm --version
- travis_wait 30 npm run package-ci # This command takes a long time, so increased the time limit to 30 minutes (default is 10 minutes)
- greenkeeper-lockfile-upload
cache:
  directories:
  - node_modules
  - "$HOME/.electron"
  - "$HOME/.cache"
install:
- npm ci
- export DISPLAY=':99.0'
- Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
dist: trusty
env:
  global:
  - secure: Jz/k1Z1LJGOfBiIC6yUOLCetNgn8IWwU8BBPREBgXhmhRdImpU1FeVY+zEYIdqdUHrIu7d0DwtvDjA0VC+xPjv+w2Vt2AEhEjXiCvqYOM4YjxJgWNbwyjSN4BEGx5QVdbTe8di/lmiy+vDCXyxyuJDjzJNYfNXh2Z3EpfJrQtnNNK41hmT5wZIOqyXctG3wKa9UcgEzFogC61IFSN0RRNPa7Z4MtjBwfdKsXymOSn9v5XF5x7vwVAZFsgmlttPq5TAtHMMtsZeT4AGIBy3HOAWjvhLSFRIL1wCnwulrxIOL1etXYqzM7dM53trpdfa4NWZWgtLUb2AsfMP+7aHlFfCkxLlZ6KWUuUYiJwOUS+mnHKc2ybmDRw+cHmmFaENw+RAvVQ8fIptsnFcCHv7LJXhIu4ZWctfxJEfvPsBMJBdZOBlEabx2xMJilKozTit9pqzdfU/AK+2JrWdj/2sGkUfqoqc/YY+ImFL7NabHq1pwt/0xttnxBVNUNl45pgJPK6Vu9u6iJxa2ucjW3IzEWUi7HCT6JQ6gFD8HNydvFofh0Ot3IPTKsfFtsugZ1PbI/p6H/sV+vy+WpQWYBST5MZyT8mt6hk2OMNVkj9K8eNEW4RA2+6ubX/iHCx0I8vpOw8SA0DPlqKVl7/nUcfTQWep5Eg0wDgNqRMGiy+1NP5nI=
  - secure: LpcHyGX9WP7Ca/5N+RYY9I5eF/hpDhoUTtQ628V2damSui4I0Mq/8J+np02i/pyAy0UsESqEAyekc4r+8PiUYE+vMhSwGi+jQ40XsXjRH9EIRhHeyty5P5cUSq8ZTg/QHUhWMurkJahjIEHKiKXhh9lAxulwdznySja6VRqaem9X+fLZT7bbdsDYnLSojkCLtHfXXObKHbQzJVNltmhDpooWQOidPR0zMuzBrxGcq9Rb+PtgbYrwewNhosGzdn6aj50Vsxf0XaiVCG8OxfYK3ma+R6yi1YMyJ4uciiRaiS1fXWrhxrDCXUfhjHuV1eNPZNX8JWYkQ12qa7IgKh9l4eHyRISXy+b+53KkC/uXKPtvp6x53DK9kKEQvi2Yabwp9gGz91BUg+vW5ny208+6IOlznEXcU06JrJqVZT+cECAxm0Cdcs/prmqHnUiaWBH4KwFQIdVc1mkDQL7k0hl7aEYlOkLynXikuxiHzr7ig4UUmw8jblPirmTF0OtBo/YzcD1NmMGryoaFTRDi54z8lRHaDYfSdhSZSOeo4s1rAFtl5GR5F5SQHCchVkwRt+aLdjPv7Az6m1hRIw3hMR8ZAE1iO12MWOTPJRF9cFzarO0nAX5Mq6GcirEBrVTt9c0f2JbU5qCfwyGL9ScoSzX9aRs2yk1MmUalfPjkvdjES88=
