# Node.js
# Build a general Node.js application with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/vsts/pipelines/languages/javascript
jobs:
- template: ci-jobs/build.yml
  parameters:
    pool: 'Hosted MacOS Preview'
    name: 'osx_build'
<<<<<<< HEAD
=======
- template: ci-jobs/build.yml
  parameters: 
    pool: 'Hosted'
    name: 'win_build'
>>>>>>> Empty Commit
