.advancedForm {
  width: 100%;
}

.inputSection {
  height: 350px;
  border-bottom: 1px solid #662d91;
  overflow: scroll;
  padding: 0px 10px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.actions div {
  width: 200px;
  margin: 10px;
}

.input {
  width: 300px;
  margin: 5px 15px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input label, .input input {
  width: 50%;
  margin-bottom: 0px;
}

.input label {
  position: relative;
  top: 5px;
}

.input input[type=checkbox] {
  height: 1.8em;
}

.secTitle {
  font-weight: bold;
  font-size: 1.2em;
}

.secBody {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.savePresetTitle {
  border-bottom: 1px solid #ccc;
  margin-top: 0px;
}

.presetModal {
  height: 160px;
  width: 400px;
  background: #fff;
  margin: 40px auto;
  border: 1px solid #ccc;
  overflow: auto;
  outline: none;
  padding: 20px;
}

.presetModal label {
  width: 100px !important;
  margin-left: 0px;
  margin-right: 10px;
}

.presetModal input {
  width: 250px !important;
}

.presetActions {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.presetActions button {
  margin: 5px;
}
