.presetsSection {
  height: 360px;
  border-bottom: 1px solid #662d91;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-content: stretch;
  margin-top: -20px;
}

.presetsList {
  /*border-right: 1px solid #662d91;*/
  overflow: scroll;
  height: 100%;
}

.presetsList::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.presetsDetail {
  height: 100%;
  width: 100%;
  overflow: scroll;
  border-left: 1px solid #662d91;
  padding-top: 15px;
  background-color: #662d91;
  color: #fff;
}

.presetsDetail::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.presetsDetail h4 {
  margin-top: 0px;
  padding-left: 8px;
}

.presetLink {
  display: block;
  border-top: 1px dotted #662d91 !important;
}

.presetLink:first-child {
  border-top: 0px !important;
}

.presetLink:hover {
  background-color: #dff1ff;
}

.noPresetsContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.noPresetsMessage {
  font-size: 2em;
  font-style: italic;
  text-align: center;
  color: #999;
}

.presetData {
  font-family: "Inconsolata", "Lucida console", Monaco, monospace;
  color: #ccc;
  border-top: 1px dotted #999;
  padding: 2px 8px;
}

.presetData b {
  color: #fff;
}

.presetData:first-child {
  border-top: 0px;
}
