.container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 300px;
}

.logo {
    width: 300px;
    margin-bottom: 15px;
}

.startButton {
    width: 100%;
    margin-top: 10px;
    padding: 10px !important;
    font-size: 1.3em !important;
}

.failureMsg {
    width: 100%;
    padding: 5px;
    border: 2px solid #e47777;
    background-color: #d89494;
    color: #fff;
    font-weight: bold;
    margin: 10px 0px;
}
