.advancedForm {
  width: 100%;
}

.inputSection {
  height: 360px;
  border-bottom: 1px solid #662d91;
  overflow: scroll;
  padding: 0px 10px;
}

.inputSection::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.actions div {
  width: 220px;
  margin: 10px;
}

.input {
  width: 300px;
  margin: 5px 15px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.advancedForm :global(.ant-checkbox-wrapper) {
    width: 300px;
}

.secTitle {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 12px;
  width: 300px;
}

.secBody {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-bottom: 15px;
}

.secBody:after {
  width: 300px;
  margin-right: 15px;
  content: "";
}

.presetActions {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.presetActions button {
  margin: 5px;
}

.savePresetSuccess {
  width: 100%;
  font-size: 5em;
  font-style: italic;
  text-align: center;
  color: #999;
}

.comingSoon {
  font-style: italic;
  color: #666;
}

:global(.ant-modal) {
  width: auto;
  margin: auto;
}
