.noTests {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-style: italic;
  color: #999;
}

.savedTestsTable {
  height: 100%;
}

.scrollingTabCont {
  border-bottom: none;
  margin-bottom: 0px;
}
