.startButton {
    width: 100%;
    margin-top: 10px;
    padding: 10px !important;
    height: auto;
    font-size: 1.3em !important;
}

.configButton {
    width: 100%;
    margin-top: 10px;
    padding: 10px !important;
    height: auto;
    font-size: 1.3em !important;
}
